@font-face {
  font-family: "Overseer";
  src: url("../fonts/Overseer.ttf");
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background-color: #1c1c1c;
  color: #cccccc;
}

header, footer {
  background-color: #e8bf28;
  color: #000;
}

header {
  padding-bottom: 5px;
}

footer {
  text-align: center;
  padding: 2px 0px;
}

header a, footer a {
  text-decoration: inherit;
  color: inherit;
}

.headerLogo {
  display: inline-block;
  float: left;
  height: 60px;
  width: 60px;
  padding: 5px;
}

.headerMaintitle {
  font-family: Overseer, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin: 0px;
}

.headerSubtitle {
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 18px;
  margin: 0px;
}

.github-corner {
  background-image: url(../img/github-corner-right.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  mix-blend-mode: multiply;
}
